.header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

    .header-title {
        font-size: 26px;
        margin-bottom: 20px;
    }
    .header-subtitle {
        font-size: 16px;
    }
}
